.reveal img.avatar {
  width: 240px;
  float: right;
}

.reveal img.no-border,
.reveal a.no-border img {
    border: 0 !important;
    box-shadow: none !important;
}

.reveal img.no-background,
.reveal a.no-background img {
  background: none !important;
}

.reveal img.half-width,
.reveal a.half-width img {
  width: 50%;
}

.reveal ul ul {
  font-size: .9em;
}

.reveal .bio {
  font-size: .8em;
}

/*
fix code overflow
and increase font size
*/

.reveal pre {
  width: auto;
  font-size: .7em;
  padding: 0 1em;
}

.reveal pre code {
  max-height: none;
}

.reveal .references ul > li {
  font-size: .7em;
}

/*
bigtext.js
 */

.bigtext {
  text-shadow: 2px 2px 1px #ddd;
}

.align-center {
  text-align: center !important;
}

/*
Fix <small>
*/
.reveal small {
  vertical-align: middle;
}
