@font-face {
  font-family: 'brand-icons';
  src:  url('fonts/brand-icons.eot?8jzjmc');
  src:  url('fonts/brand-icons.eot?8jzjmc#iefix') format('embedded-opentype'),
    url('fonts/brand-icons.ttf?8jzjmc') format('truetype'),
    url('fonts/brand-icons.woff?8jzjmc') format('woff'),
    url('fonts/brand-icons.svg?8jzjmc#brand-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.br {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brand-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.br-johnny-five:before {
  content: "\e909";
}
.br-arduino:before {
  content: "\e905";
}
.br-arduino-notext:before {
  content: "\e908";
}
.br-codeminer:before {
  content: "\e906";
}
.br-heroku:before {
  content: "\e901";
}
.br-nodejs:before {
  content: "\e907";
}
.br-postgresql:before {
  content: "\e900";
}
.br-rails:before {
  content: "\e902";
}
.br-ruby:before {
  content: "\e903";
}
.br-travis-ci:before {
  content: "\e904";
}

