img.no-border,
a.no-border img {
    border: 0 !important;
    box-shadow: none !important;
}

img.no-background,
a.no-background img {
  background: none !important;
}

a.licence {
  font-size: 16px;
  line-height: 16px !important;
  text-align: left;
}

a.licence img {
  float: left;
}

.to-lowercase {
  text-transform: lowercase;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.author ul li {
  list-style: none;
  font-size: 0.8em;
  padding-bottom: 0.4em;
}

/* fix code overflow */

.reveal pre {
  width: auto;
}

.reveal pre code {
  max-height: none;
}
