.reveal .half-slide> * {
  width: 50%;
}

.reveal img.no-border,
.reveal a.no-border img {
    border: 0 !important;
    box-shadow: none !important;
}

.reveal img.no-background,
.reveal a.no-background img {
  background: none !important;
}

.reveal img.img-half-right {
  float: right;
  width: 30%;
  height: auto;
}

.reveal ul ul {
  font-size: .9em;
}

/*
fix code overflow
and increase font size
*/

.reveal pre {
  width: auto;
  font-size: .75em;
}

.reveal pre code {
  max-height: none;
}

/*
Image credits
 */
.credits {
  font-size: .4em !important;
  font-style: italic !important;
  display: block;
}

.credits::before {
  content: "Image credits:";
  font-size: .8em !important;
  text-transform: uppercase;
  padding-right: .4em;
}

/*
big text
 */
.big {
  font-size: 1.4em !important;
}

/*
small text
 */
.small {
  font-size: .6em !important;
}

/*
50% width
 */
.stretch {
  width: 50%;
}

/*
100% width
 */
.wide {
  width: 100%;
}

/*
colors
 */
.red { color: #ff2c2d; }
.blue { color: #1b91ff; }

/*
Truncate text/links
 */
.more {
  display: inline-block;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*
Force lowercase (used for titles)
 */
.lowercase {
  font-weight: normal !important;
  text-transform: lowercase;
}
